@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
    display:block;
    max-width:100%;
    height:auto;
    margin: auto;
    border:#000;
    border-radius: 20px;
    border-width: 2px;
}
/* || GENERAL STYLES */
.nowrap{
    white-space: nowrap;
}

html{
  scroll-behavior: smooth;
}

body {
background-size: cover;
background-position: center top;
background-repeat: no-repeat;
align-items: center;
text-align: center;
font: 1.5rem "Nunito", sans-serif;
min-height: 100vh;
background-image: linear-gradient(lightgoldenrodyellow, goldenrod);
display: flex;
flex-direction: column;
padding-left: 5cm;
padding-right: 5cm;
}

header,
footer {
  position: sticky;
  background-color: goldenrod;
  color: whitesmoke;
  text-align: center;
}

header {
  top: 0;
  padding-bottom: 2cm;
}

.bodytext{
margin-left:5px;
margin-right:5px;
}

.indexpage{
  color: black;
  background-image: linear-gradient(lightgoldenrodyellow, goldenrod);
}

ul {
  background-color: whitesmoke;
  padding: 0.5rem;
  border: 2px solid #000;
  font-weight:bolder;
  display:flex;
  list-style-type: none;
  margin: 0;
  float:auto;
  justify-content: center;
}

.list{
  padding-left:5px;
  padding-right:5px;
  border-radius: 20px;
}

li{
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: lightgoldenrodyellow;
}

li a,
li a:visited{
    color:#000
}
li a:hover, li a:focus{
    color: goldenrod;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

footer {
  bottom: 0;
}

.ocard{
  justify-content:center;
  align-items: flex;
  flex-direction: column;
}

.border{
  padding-bottom: 5px;
}

.title{
  text-size-adjust: 4px;
  color: black;
}

#loh, #crh, #shh, #oth{
  color: black;
  text-decoration: line-through;
}

.footr, .footr :hover{
  border:2px;
  background-color: black;
  color:goldenrod;
}
.footr :visited{
  color:lightgoldenrodyellow;
}


/* || SMALL */
@media screen and (min-width: 576px) {
  body {
    background-image: linear-gradient(lightgoldenrodyellow, goldenrod);
  }
  nav {
    display: none;
  }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(lightgoldenrodyellow, goldenrod);
  }
}

/* || LARGE */
@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(lightgoldenrodyellow, goldenrod);
  }
}

/* || XL  */
@media screen and (min-width: 1200px) {
  body {
    background-image: linear-gradient(lightgoldenrodyellow, goldenrod);
  }
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  body {
    background-image: linear-gradient(lightgoldenrodyellow, goldenrod);
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }
}